<%- include('header', {page: 'Dashboard'}) %>
<%- include('navbar', {page: 'Dashboard'}) %>

<main class="">
    <div class="col-8 main-content">
        <section class="mb-5">
            <h2>This week</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3 datacard floating">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/assets/income.png" alt="income">
                            <div class="d-inline-block">Income</div>
                        </div>
                        <div class="d-inline-block">$balance</div>
                    </div>
                    <div class="col-3 datacard floating">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/assets/outcome.png" alt="outcome">
                            <div class="d-inline-block">Outcome</div>
                        </div>
                        <div class="d-inline-block">$balance</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 datacard bg-secondary text-white border-0 justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        <a class="text-white p-3" href="/transactions/new"><b>Add Transaction</b></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-5">
            <h2>Recent Transactions</h2>
            <div class="container-fluid">
                <% if (typeof transList !== 'undefined') { %>
                    <% for (var i = 0; i < transList.length && i < 5; i++) { %>
                        <%- include('translist', {trans: transList[i]}) %>
                    <% } %>
                <% } %>
            </div>
        </section>
    </div>
    <%- include('sidebar') %>
</main>
<%- include('footer') %>