<%- include('header', {page: 'My Team'}) -%>
<%- include('navbar', {page: 'My Team'}) -%>
<!-- main content -->
<div class="container-fluid w-75 ms-0" style="height: 100vh">
    <div class="row" style="height: 100%">
        <!-- main content -->
        <div class="col-lg-6 main-content">
            <h2>Members</h2>
            <div class="container-fluid">
                <% team.forEach(function (member) { %>
                    <div class="row pb-2 flex-row flex-nowrap">
                        <div class="col-10 floating team datarow">
                            <span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor"
                                   class="bi bi-person-fill" viewBox="0 0 16 16">
                                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                              </svg>
                              <span> <%= member.name %> </span>
                            </span>
                            <span class="balance"><%= member.balance %></span>
                        </div>
                        <div class="col-2 d-flex align-items-center ps-3">
                            <a href="/team/del/<%= member._id %>" class="link-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="container-fluid">
                <form action="/team/add" method="post">
                    <div class="row flex-row flex-nowrap">
                        <div class="input-group col-10 floating team datarow"
                             style="width: auto; flex-grow: 1; padding: 0">
                            <input class="form-control" style="padding: 1rem" type="email" name="email" id="email"
                                   placeholder="Add new member (Email)"/>
                            <button type="submit" class="btn py-1 px-3 rounded-5 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-person-plus" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                    <path fill-rule="evenodd"
                                          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-2 d-flex align-items-center ps-3"><%= team.length %>/5</div>
                    </div>
                </form>
                <span class="text-danger w-100" style="display: inline-block; font-size: 14px">
                    <%= (typeof error === 'undefined') ? '' : error; %>
                </span>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>