<% (typeof transaction === 'undefined') ? pageName = 'New Transaction' : pageName = 'Edit Transaction' %>
<%- include('sp_header', {page: pageName}) -%>
<%- include('backdrop') -%>
<!-- main content -->
<div class="pop-up col-6 p-4 ">
    <div class="d-flex mb-5 align-items-center align-self-baseline">
        <div>
            <a href="/transactions">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-x-lg"
                     viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </a>
        </div>
        <h2 class="d-inline pt-2 ps-3 pb-0 h3"><%= pageName %></h2>
    </div>
    <form class="w-100" method="post">
        <div class="container ms-4">
            <div class="row-cols-2 mb-3">
                <label class="col-3 form-label" for="tr_name">Name</label>
                <input class="col-6 form-control" type="text" name="name" id="tr_name"
                       value="<%= (typeof transaction === 'undefined') ? '' : transaction.name %>">
            </div>
            <div class="row-cols-2 mb-3">
                <!--TODO: auto cat selection-->
                <label class="col-3 form-label" for="tr_category">Category</label>
                <select class="col-6 form-select " name="category" id="tr_category">
                    <option value="Income"
                    <% if (typeof transaction !== 'undefined' && transaction.category === 'Income' ) { %> selected
                            <% } %>
                    >Income
                    </option>
                    <option value="Groceries"
                    <% if (typeof transaction !== 'undefined' && transaction.category === 'Groceries' ) { %> selected
                            <% } %>
                    >Groceries
                    </option>
                    <option value="Housing"
                    <% if (typeof transaction !== 'undefined' && transaction.category === 'Housing' ) { %> selected
                            <% } %>
                    >Housing
                    </option>
                    <option value="Lifestyle"
                    <% if (typeof transaction !== 'undefined' && transaction.category === 'Lifestyle' ) { %> selected
                            <% } %>
                    >Lifestyle
                    </option>
                    <option value="Entertainment"
                    <% if (typeof transaction !== 'undefined' && transaction.category === 'Entertainment' ) { %>
                            selected
                            <% } %>
                    >Entertainment
                    </option>
                </select>
            </div>
            <div class="row-cols-2 mb-3">
                <label class="col-3 form-label" for="tr_date">Date</label>
                <input class="col-6 form-control" type="text" name="date" id="tr_date"
                       value="<%= (typeof transaction === 'undefined') ? '' : transaction.date %>">
            </div>
            <div class="row-cols-2 mb-3">
                <label class="col-3 form-label" for="tr_value">Value</label>
                <input class="col-6 form-control" type="text" name="value" id="tr_value"
                       value="<%= (typeof transaction === 'undefined') ? '' : transaction.value %>">
                <span class="ps-3">Ft</span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mx-4" style="margin-top: 5rem">
            <% if (typeof transaction !== 'undefined') { %>
                <a class="link-danger" href="/transactions/del/<%= transaction._id %>" style="justify-self: start">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                         class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                    </svg>
                    Delete
                </a>
            <% } else { %>
                <a style="visibility: hidden"></a>
            <% } %>
            <div class="d-flex align-items-center gap-3">
                <a href="/transactions">Cancel</a>
                <input type="submit" class="btn btn-secondary"
                       value="<%= (typeof transaction === 'undefined') ? 'Add Transaction' : 'Save Changes' %>"/>
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>